main {
    margin-top: 100px;
}

main > h1 {
    text-align: center;
}

.boards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    margin: auto;
}

.boards-container > li {
    margin: 10px;
    /*padding: 30px;*/
    width: 180px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 10px;
    font-size: 24px;
    list-style-type: none;
    background-color: var(--header-color);
    transition: filter 0.4s;
}

.boards-container > li:hover {
    filter: brightness(70%);
    cursor: pointer;
}

.boards-container > li > button {
    background-color: var(--white-button-color);
    transition: filter 0.4s;
}

.boards-container > li:hover > button {
    filter: brightness(70%);
}

.boards-container > li > a {
    text-decoration: none;
    margin: 10px;
    color: white;
}

#button-li {
    justify-content: center;

    background-color: var(--white-button-color);
    transition: filter 0.4s;
}

#button-li:hover {
    filter: brightness(70%);
}

.editButton {
    align-self: flex-start;

    border: 3px solid black;
    z-index: 1;
}
