body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-grow: 1;
}

.main-container {
    display: flex;
    /*align-self: stretch;*/
    flex-grow: 1;
    overflow-x: auto;

    /*background-color: var(--main-color);*/
}

.cards-container {
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
    align-self: flex-start;
    max-height: 100%;
    overflow-y: auto;
    flex-shrink: 0;
    /*overflow-y: initial;*/

    background-color: var(--cards-container-color);
    border-radius: 10px;
}

.card-header {
    font-weight: bold;
}

.card-button {
    padding-left: 10px;
    margin: 10px;
    overflow: hidden;

    text-align: left;
    transition: background-color 0.3s;
}

.card-button:hover {
    background-color: var(--cards-container-button-color);
}

.card-button-li {
    text-align: left;
    background-color: var(--cards-container-color);
    transition: background-color 0.3s;
}

.card-button-li:hover {
    background-color: var(--cards-container-button-color);
}

#addListButton {
    display: flex;
    align-self: flex-start;
    align-items: center;

    width: 250px;
    min-width: 250px;
    height: 40px;

    margin: 10px 5px;
    padding-left: 25px;

    border-radius: 10px;
    background-color: var(--button-color);
    color: white;
}

#addListButton:hover {
    background-color: var(--button-hover-color);
}

.cards-container > button {
    width: 250px;
    margin: 5px;
    height: 40px;

    border-radius: 10px;
}

.cards-container > ul {
    /*height: 90vh;*/
    /*overflow: auto;*/
}

.cards-container > ul > li {
    padding: 10px;
    margin: 3px 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
    overflow: hidden;

    background-color: var(--header-color);
    border-radius: 10px;
    transition: filter 0.3s;
}

.cards-container > ul > li:hover {
    filter: brightness(70%);
    cursor: pointer;
}

.cards-container > ul > li:hover > button {
    filter: brightness(70%);
}

.cards-container > ul > li > a {
    text-decoration: none;
    color: white;
}
