body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-grow: 1;
}

.main-container {
    display: flex;
    /*align-self: stretch;*/
    flex-grow: 1;
    overflow-x: auto;

    background-color: var(--main-color);
}

.cards-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-self: flex-start;
    max-height: 100%;
    overflow-y: auto;
    flex-shrink: 0;
    /*overflow-y: initial;*/

    background-color: var(--cards-container-color);
    border-radius: 10px;
}

.cards-container > .card-header-li {
    background-color: var(--cards-container-color);
    cursor: default;
    margin: 0;
}

.cards-container > .card-header-li > h1 {
    margin: 0;
}

.cards-container > .card-header-li:hover {
    background-color: var(--cards-container-color);
    cursor: default;
}

.cards-container > .card-button-li {
    background-color: var(--cards-container-color);
}

.cards-container > .card-button-li:hover {
    background-color: var(--cards-container-button-color);
}

.cards-container > .card-button-li > button {
    background-color: var(--cards-container-color);
    transition: background-color 0.3s;
}

.cards-container > .card-button-li:hover > button {
    background-color: var(--cards-container-button-color);
}

#add-list-button {
    display: flex;
    align-self: flex-start;
    align-items: center;

    width: 250px;
    min-width: 250px;
    height: 40px;

    margin-top: 10px;
    margin-right: 10px;
    padding-left: 25px;

    border-radius: 10px;
    background-color: var(--button-color);
    color: white;
}

#add-list-button:hover {
    background-color: var(--button-hover-color);
}

.cards-container > button {
    width: 250px;
    margin: 5px;
    height: 40px;

    border-radius: 10px;
}

.cards-container > li {
    padding: 10px;
    margin: 3px 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
    overflow: hidden;

    background-color: var(--header-color);
    border-radius: 10px;
    transition: background-color 0.3s;
}

.cards-container > li:hover {
    background-color: var(--header-dark-color);
    cursor: pointer;
}

.cards-container > li:hover > button {
    background-color: var(--cards-container-button-color);
}

.cards-container > li > a {
    text-decoration: none;
    color: white;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    margin: auto;
    padding: 2px 0;
    width: 80%;
    overflow: auto;

    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: var(--header-color);
    color: white;

    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 16px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    padding: 2px 16px;
}

.modal-footer {
    display: flex;
    justify-content: center;
    padding: 2px 16px;
    margin: 2px;
}

.modal-footer > button {
    margin: 2px 5px;
    width: 150px;
    height: 30px;

    border-radius: 5px;
    color: white;
    background-color: var(--header-button-color);
}

.modal-footer > button:hover {
    background-color: var(--header-button-hover-color);
}

/* The Close Button */
.close {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.modal-header > label {
    width: 90%;
}

input[type=text] {
    width: 100%;
    /*display: inline-block;*/

    height: 30px;
    border: none;
    border-radius: 3px;
    background: #f1f1f1;
}

textarea {
    width: 100%;

    border-radius: 3px;
    border: none;
    resize: none;
}

input[type=color], input[type=date] {
    border: none;
}

input[type=text]:focus, textarea:focus {
    background-color: #ddd;
    outline: none;
}
