.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    margin: auto;
    padding: 2px 0;
    width: 80%;
    overflow: auto;

    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: var(--header-color);
    color: white;

    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 16px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    padding: 2px 16px;
}

.modal-footer {
    display: flex;
    justify-content: center;
    padding: 2px 16px;
    margin: 2px;
}

.modal-footer > button {
    margin: 2px 5px;
    width: 150px;
    height: 30px;

    border-radius: 5px;
    color: white;
    background-color: var(--header-button-color);
}

.modal-footer > button:hover {
    background-color: var(--header-button-hover-color);
}

/* The Close Button */
.close {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.modal-header > label {
    width: 90%;
}

input[type=text] {
    width: 100%;
    /*display: inline-block;*/

    height: 30px;
    border: none;
    border-radius: 3px;
    background: #f1f1f1;
}

textarea {
    width: 100%;

    border-radius: 3px;
    border: none;
    resize: none;
}

input[type=color], input[type=date] {
    border: none;
}

input[type=text]:focus, textarea:focus {
    background-color: #ddd;
    outline: none;
}
